@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

button, a {
  cursor: pointer;
}

::selection {
  background-color: #450a0a; /* red-950 */
  color: white; /* colore del testo selezionato */
}

@keyframes softPop {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.96) rotateX(2deg);
    filter: blur(4px);
  }
  60% {
    opacity: 1;
    transform: translateY(0px) scale(1.02) rotateX(0deg);
    filter: blur(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-softPop {
  animation: softPop 0.55s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes softClose {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
  40% {
    opacity: 0.6;
    transform: translateY(6px) scale(0.97);
    filter: blur(2px);
  }
  100% {
    opacity: 0;
    transform: translateY(12px) scale(0.92) rotateX(-3deg);
    filter: blur(6px);
  }
}

.animate-softClose {
  animation: softClose 0.35s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

