@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

button, a {
  cursor: pointer;
}

::selection {
  background-color: #450a0a; /* red-950 */
  color: white; /* colore del testo selezionato */
}
